.shelf{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.book-input-form{
  display: flex;
  justify-content: center; 
  flex-direction: column;
  margin-bottom: 2rem; 
  max-width: 30rem;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.med-width{
  width: 15rem;
}